header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url("../images/b&bHeader.jpeg");
    height: 386px;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
}

